.jumbotron {
   
    background-color: #95BDFF;
    margin-top: 50px;
    margin-bottom: 10px;
}
#about {
    font-family: verdana;
}
#portofolio {
    background-color: #95BDFF;
    margin-bottom: 10px;
}

section {
    padding-top: 4rem;
}

#Skill {
    margin-top: 50px;
  }

  
  
  
  